.btn-group
  position fixed
  left 0
  bottom .2rem
  width 89%
  padding: 0 .2rem
.btn
  line-height .45rem
  text-align center
  radius(5)
  float left
  width 47%
  box-sizing border-box
  margin-right .15rem
  &:nth-child(even)
    margin-right 0
.btn-default
  color co-blue
  border 1px solid co-blue
.btn-confirm
  color white
  background-color co-blue
  border 1px solid co-blue