@import './Util.styl'

html
  font-size 100px

body
  margin 0
  height 100%
  font-family PingFang SC '微软雅黑'
  font-size 0.14rem

ul
  list-style-type none
  margin 0
  padding 0

p
  margin 0

/* toast */
.f-toast
  box-sizing border-box
  width fw = 1rem
  height fw
  position fixed
  top 50%
  left 50%
  margin-left -(fw/2)
  margin-top -(fw)
  z-index 1100
  radius(5)
  background-color #34323d
  color white
  text-align center
  padding .1rem

.f-network-error
  height .5rem
  padding-top .15rem

@keyframes rotate {
  0% { transform:rotate(0deg); }
  100% { transform:rotate(360deg); }
}

.f-loading-icon
  width fw = 70%
  height fw
  animation: 1s rotate infinite;



