co-blue        = #007df4
co-green       = #00ae88
co-red         = #ff3c56
co-orange      = #ff9600
co-blue-bright = #1b88ee
co-grey        = #e8e8e8

radius(n)
  border-radius (n / 100) rem

text-light(font = 0.14rem, isBold = false)
  font-size font
  line-height: font + 0.04rem
  color: #999
  if isBold
    font-weight 500

text-dark(font = 0.14rem, isBold = false)
  font-size font
  line-height: font + 0.04rem
  color #333
  if isBold
    font-weight 500

co-flex(justify = center, direction = row)
  display flex
  flex-direction direction
  align-items center
  justify-content justify

shadow-box()
  radius(3)
  box-shadow 0 0 0.04rem rgba(0, 0, 0, 0.2)
